*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
/.idea
/.idea/workspace.xml
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.classpath
.project
.settings
target/
*.iml
.springBeans
.DS_Store
logs/
*.file
*.file.lock
agent.log

agent.log*
disconf
.arcconfig

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/*.xml
*.class

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
