<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--//对应ApplicationConfig,用于计算依赖关系-->
    <dubbo:application name="dubboConsumer" version="1.0.0"/>

    <!--     使用multicast广播注册中心暴露发现服务地址 -->
    <!--     <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
    <!--对应RegistryCOnfig  使用zooker广播注册中心暴露发现服务地址-->
    <dubbo:registry id="zk1" protocol="zookeeper" address="127.0.0.1:2181"/>
    <!--多个注册中心的时候使用，这里指定的是zk1-->
    <dubbo:consumer registry="zk1"/>

    <dubbo:reference id="speaker" interface="com.test.Speaker" group="dubbo"/>
    <dubbo:reference id="apiTest" interface="com.test.api.ApiTest" group="dubbo"/>
</beans>